In [2]:
#1
import numpy as np
import pandas as pd
import scipy

In [12]:
# read data
file_location = "/Users/kimij/Desktop/Bittiger/"
file_name = "BA501_python_data.csv"
my_data = pd.read_csv(file_location + file_name)
my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [ ]:
#####identity duplicates in user_id
my_data.user_id.duplicated()

In [ ]:
#2
data1={"time":["11/01","11/02","11/03"],"requester_id":["A","B","C"],"sent_to_id":["a","b","c"]}
friend_request=pd.DataFrame(data1,
                     index=[1,2,3],
                     columns=["time","requester_id","sent_to_id"]
                    )
friend_request

In [ ]:
data2={"time":["11/01","11/02","11/03"],"requester_id":["D","E","F"],"acceptor_id":["d","e","f"]}
request_accepted=pd.DataFrame

In [ ]:
#2SQL
#SELECT count(ra.acceptor_id) / count(fr.requester_id)
#FROM Friend_Request fr
#LEFT JOIN Request_Accepted ra ON ra.acceptor_id = fr.sent_to_id

In [41]:
cc="4175004175004172"
cc='4917491749174917'
cc='346416800707698'
cc='376416800707698'
cc='37641680070769832112'
cc='36641680070769'
cc='54545641680070769'

In [42]:
if (cc[0:1]=="34"or"37") and (len(cc)==15):
    print("AMEX")
if (cc[0:2]=="36") and (len(cc)==14):
    print("Diner Club")
if (cc[0:1]=="4") and (len(cc)==16):
    if (cc[0:4]=="4026") or (cc[0:6]=="417500") or (cc[0:4]=="4405") or (cc[0:4]=="4508") or (cc[0:4]=="4844") or (cc[0:4]=="4913") or (cc[0:4]=="4917"):
        print("VISAELECTRON")
    else:
        print("VISA")